{% extends 'html/base.html' %}
{% block content %}
<h1>Export Data</h1>
<div class="row">
	<div class="col-md-6">
		<h2>All</h2>
		<a href="/Laps.xlsx"><button class="btn btn-primary btn-large">Export All</button></a> <br>
		This will download all data into an Excel spreadsheet.
	</div>
	<div class="col-md-6">
		<h2>Single Student</h2>
		<form action="/export_single">
			<select class="form-control" id="teacher_name">
			</select>
			<select class="form-control" id="student_name">
			</select>
			<button class="btn btn-large">Export</button>
		</form>
	</div>
</div>
{%endblock%}
{%block script%}
<script>
	var teacherSelect = $("#teacher_name");
	var studentSelect = $("#student_name");
	$.ajax("/teacher_names", {
		dataType: "json",
		success: function(data) {
			for (var i = data.length - 1; i >= 0; i--) {
				var opt = $("<option></option>");
				opt.attr('value', data[i]);
				opt.text(data[i]);
				teacherSelect.append(opt);
			};
		}
	});

	teacherSelect.change(function(event) {
		$.ajax("/student_names", {
			data: {
				'teacher': teacherSelect.val(),
			},
			dataType: "json",
			success: function(data) {
				studentSelect.empty();
				for (var i = data.length - 1; i >= 0; i--) {
					var opt = $("<option></option>");
					opt.attr('value', data[i].id);
					opt.text(data[i].name);
					studentSelect.append(opt);
				};
			}
		});
	});
</script>
{%endblock%}
