{% extends 'html/base.html' %}
{%block style%}
<style>
  table {
    width: 100%;
  }
  table th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }

  th,td {
    padding: 5px;
    text-align: center;
  }

  table#t01 tr{
    background-color:#eee;
  }

  table#t01 th {
    background-color: black;
    color: white;
  }
</style>
{%endblock%}

{% block content %}
{% if milestones %}
<table id="t01" width=30%>
  <tr>
    <th>Goal</th>
    <th>Distance</th>
    <th>Options</th>
  </tr>
  <!--Jinja loop reading in goal, progress, and location from server-->
    {% for m in milestones %}
      <tr>
        <td>{{ m.city_name }}</td>
        <td>{{ m.goalMiles }}</td>
        <td>
          <!-- Modify -->
          <form action="/modifyMilestone" method="get">
      	    <input type="hidden" name="id" value="{{ m.city_name }}"/>
      	    <input type="submit" value="Modify"/>
          </form>
	        <!-- Delete -->
       	  <form action="/deleteMilestone" method="post">
      	    <input type="hidden" name="id" value="{{ m.city_name }}"/>
      	    <input type="submit" value="Delete"/>
          </form>
        </td>
      </tr>
  {% endfor %}
</table>
{% endif %}
<br>
<a href="/addMilestone"><button>Add New Milestone</button></a><br>
{%endblock%}