{%extends 'html/base.html'%}
{% block content %}
	{%if errors%}
	There were a few errors during the import process. Please make corrections to the spreadsheet and re-upload it.<br>
	{%endif%}
	{%for err in errors%}
		{{err}} <br>
	{%endfor%}

	<h1>Import Results</h1>
	{%for class in classes%}
		Teacher: {{class.teacher.name}} <br>
		<table class="table table-condensed table-striped">
			<thead>
				<td>ID</td>
				<td>Name</td>
				<td>Cement Track Laps</td>
				<td>Grass Track Laps</td>
				<td>Total Miles</td>
			</thead>
			<tbody>
				{%for s in class.students%}
				<tr>
					<td>{{s.studentID}}</td>
					<td>{{s.name}}</td>
					<td>{{s.cementLaps}}</td>
					<td>{{s.grassLaps}}</td>
					<td>{{s.total_miles}}</td>
				</tr>
				{%endfor%}
			</tbody>
		</table>
	{%endfor%}
{%endblock%}